/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*/ NAVBAR /*/

.overlay {
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen */
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.75);
  transition: right 0.3s ease-in-out;
  color: white;
}

.overlay.open {
  right: 0; /* Slide in from the right when open */
}

.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.line {
  width: 100%;
  height: 3px;
  background: black;
  margin: 2px 0;
  transition: transform 0.3s ease;
}

.close .line:nth-child(1) {
  transform: rotate(-45deg) translate(0px, 1px);
  background-color: white;
  margin: 0px;
}

.close .line:nth-child(2) {
  transform: rotate(45deg) translate(0px, -1px);
  background-color: white;
  margin: 0px;
}

.menuItems>h1{
  padding-top: 10px;
  padding-bottom: 10px;
}